librosa
scikit-learn
openpyxl
SpeechRecognition
matplotlib
numpy==1.23.0
wave
pandas
tensorflow
keras
scipy
moviepy
tqdm
protobuf==3.19
pydub
soundfile
seaborn
streamlit-lottie
streamlit
altair
Pillow
requests
audio-recorder-streamlit